#msform {
    text-align: center;
    position: relative;
    margin:30px auto;
    width: 60%;
  }
  
  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 5px;
    box-shadow: 10px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
  
    /*stacking fieldsets above each other*/
    position: relative;
  }
  
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
    display: none;
  }
  
  /*inputs*/
  #msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }
  
  #msform input:focus, #msform textarea:focus {
  
    box-shadow: none !important;
    border: 1px solid #A5A5AD;
    outline-width: 0;
    transition: All 0.5s ease-in;
  
  }
  
  /*buttons*/
  #msform .action-button {
    width: 100px;
    background: #A5A5AD;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }